{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Carro</h2>
            {% for elemento in elementos %}
            <div class="card" id="tarjeta_{{elemento.id}}">
                <div class="card-body">
                    <h5 class="card-title">{{elemento.componente.nombre}}</h5>
                    <img class="card-img-top" src="img/Procesadores/intel-i7-10700k.jpg" alt="Card image"
                        style="width:20%">
                    <p class="card-text">Cantidad de núcleos. 8 ; Total de subprocesos. 16 ; Frecuencia turbo máxima.
                        5.10 GHz</p>
                    <p class="card-text">${{elemento.componente.precio | intcomma}}</p>
                    <form class="update-form" data-elemento-id="{{ elemento.id }}" onsubmit="return false;">
                        {% csrf_token %}
                        <input type="hidden" name="elemento_id" value="{{ elemento.id }}">
                        <!-- Botón para aumentar cantidad -->
                        <button type="submit" class="btn btn-secondary update-button" name="boton" data-value="-1">-</button>

                        <!-- Campo para mostrar la cantidad de productos -->
                        <input type="text" class="form-control d-inline-block w-25 mx-2 text-center" id="cantidad_{{elemento.id}}"
                            value="{{elemento.cantidad}}">

                        <!-- Botón para disminuir cantidad -->
                        <button type="submit" class="btn btn-secondary update-button" name="boton" data-value="1">+</button>
                    </form>


                    <button type="button" class="btn btn-danger delete-button" data-elemento-id="{{ elemento.id }}">Eliminar</button>

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h2>Resumen de la compra </h2>
            <ul class="list-group">

                <li class="list-group-item">Total Precio Normal $<span id="total-precio">{{ totalPrecio|intcomma }}</span></li>

            </ul>
            <a href="{% url "index" %}" class="btn btn-success mt-3">Seguir Comprando</a>
            <a href="{% url "metodoPago" %}" class="btn btn-primary mt-3">Pagar</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.update-button').click(function() {
            var button = $(this);
            var form = button.closest('.update-form');
            var elementoId = form.data('elemento-id');
            var value = button.data('value');
            var cantidadField = form.find('.cantidad');

            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'elemento_id': elementoId,
                    'boton': value,
                    'accion': 'actualizar'
                },
                success: function(response) {
                    
                    $("#cantidad_"+elementoId).val(response.cantidad);
                    $('#total-precio').text(response.total_precio.toLocaleString());
                }
            });
        });
        $('.delete-button').click(function() {
            var button = $(this);
            var elementoId = button.data('elemento-id');

            // Imprimir valores en la consola para depuración
            console.log('Eliminar elemento ID:', elementoId);

            $.ajax({
                type: 'POST',
                url: '',  // URL correcta
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'elemento_id': elementoId,
                    'accion': 'eliminar'
                },
                success: function(response) {
                    console.log('Respuesta del servidor:', response);
                    // Eliminar el elemento del DOM si la respuesta es exitosa
                    if (response.success) {
                        $('#tarjeta_' + elementoId).remove();
                        $('#total-precio').text(response.total_precio.toLocaleString());
                        console.log('Elemento eliminado.');
                    } else {
                        console.error('No se pudo eliminar el elemento.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error en la solicitud AJAX:', error);
                }
            });
        });
    });
</script>


{% endblock contenido %}