{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block contenido %}


<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/Procesadores/intel-i7-10700k.jpg" class="img-fluid" alt="Producto">
      </div>
      <div class="col-md-6">
        <h2>{{componente.nombre}}</h2>
        <ul>
          <li>marca: {{marca}}</li>
          <li>Cantidad de núcleos 8</li>
          <li>Total de subprocesos 16</li>
          <li>Frecuencia turbo máxima 5.10 GHz</li>
          <li>Frecuencia básica del procesador 3.80 GHz</li>
          <li>TDP 125 W</li>
          <li>Tipos de memoria DDR4-2933</li>
          <!-- Agregar más características según sea necesario -->
        </ul>
        <h3 class="text-danger">${{componente.precio | intcomma}}</h3>
        
        <a href="carrodecompras.html" class="btn btn-primary">Comprar Ahora</a>
      </div>
    </div>
</div>

{% endblock contenido %}