{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block contenido %}

<div class="container">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Carro</span>
        <span class="badge bg-primary rounded-pill">1</span>
      </h4>
      <ul class="list-group mb-3">
        {% for elemento in elementos %}
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <img src="img/Procesadores/intel-i7-10700k.jpg" alt="" style="width: 30%">
            <h6 class="my-0">{{elemento.componente.nombre}}</h6>
            <small class="text-body-secondary">Cantidad de núcleos. 8 ; Total de subprocesos. 16 ; Frecuencia turbo
              máxima. 5.10 GHz</small>
          </div>
          <span class="text-body-secondary">${{elemento.total_precio | intcomma}}</span>
        </li>
        {% endfor %}

        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>${{totalPrecio}}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h5 class="my-0">Tipo de entrega</h5>
            <br>
            <h6 class="my-0">Retiro en Tienda</h6>
            <br>
            <h8 class="my-0">123 Calle Principal</h8>
          </div>

        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h5 class="my-0">Despacho a domicilio</h5>
            <br>
            <h6 class="my-0">{{user.direccion}}</h6>

          </div>

        </li>
      </ul>
    </div>
    <div class="col-md-7 col-lg-8">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-container">
              <h2 class="text-center mb-4"> Método de Pago</h2>
              <form action="{% url "pagoRealizado" %}" id="payment-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="payment-method">Selecciona el método de pago:</label>
                  <select class="form-control" id="payment-method" required>
                    <option value="">Selecciona...</option>
                    <option value="debit">Tarjeta de Débito</option>
                    <option value="credit">Tarjeta de Crédito</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="card-name">Nombre en la Tarjeta:</label>
                  <input type="text" class="form-control" id="card-name" required>
                </div>
                <div class="form-group">
                  <label for="card-number">Número de Tarjeta:</label>
                  <input type="text" class="form-control" id="card-number" required>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="expiry">Fecha de Vencimiento:</label>
                    <input type="text" class="form-control" id="expiry" placeholder="MM/YY" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cvv">CVV:</label>
                    <input type="text" class="form-control" id="cvv" required>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Pagar</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}