{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block contenido %}
<div class="invoice-box">
    <h1>Detalles de Compra</h1>
    <div class="company-details">
        <h2>Información de la Empresa</h2>
        <p><strong>Nombre:</strong> {{Compuspace}}</p>
        <p><strong>Dirección:</strong>123 Calle Principal</p>
        <p><strong>Teléfono:</strong> +123456789</p>
        <p><strong>Email:</strong> compuspace@ejemplo.com</p>
    </div>
    <table>
        <tr class="client-details">
            <td colspan="2">
                <h2>Información del Cliente</h2>
                <p><strong>Nombre: </strong>{{user.username}}</p>
                <p><strong>Dirección: </strong> {{user.direccion}}</p>
                <p><strong>Email: </strong> {{user.email}}</p>
            </td>
        </tr>

        <tr class="details">
            <td colspan="2">
                <h2>Detalles de la Boleta</h2>
                <p><strong>Fecha:</strong> {% now "" %}</p>
                <p><strong>Número de Boleta:</strong> 00123</p>
            </td>
        </tr>

        <tr class="heading">
            <td>Producto</td>
            <td>Precio</td>
            <td>Cantidad</td>
        </tr>

        {% for elemento in elementos %}

        <tr class="item">
            <td>{{elemento.componente.nombre}}</td>
            <td>{{elemento.componente.precio}}</td>
            <td>{{elemento.cantidad}}</td>
        </tr>

        {% endfor %}

        <tr class="total">
            <td></td>
            <td>Total: ${{totalPrecio | intcomma}}</td>
        </tr>
    </table>

    <div class="footer">
        <p>Gracias por su compra.</p>
        <div class="button-container">
            <button onclick="window.location.href='index.html'">Descargar Comprobante</button>
            <button onclick="window.location.href='{% url "index" %}'">Volver a la Tienda</button>
        </div>
    </div>
</div>
{% endblock contenido %}