{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

  <form class="container px-5" style="width: 500px;" action="" method="post" onsubmit="return validarFormulario()">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" class="btn btn-primary mx-5" value="Login">             
  </form>
 
  <div class="text-center mt-3">
    <a href="recuperarclave.html" class="nodecolink">¿Olvidaste tu contraseña?</a>
    <br>
    <a href="{% url "registrar" %}" class="nodecolink">Crear una cuenta</a>
    
  </div>

  <script>
    $(document).ready(function () {
      $('#showPassword1').on('click', function () {
        var passwordField = $('#password1');
        var passwordFieldType = passwordField.attr('type');
        if (passwordFieldType === 'password') {
          passwordField.attr('type', 'text');
          $(this).text('Ocultar');
        } else {
          passwordField.attr('type', 'password');
          $(this).text('Mostrar');
        }
      });


    });
  </script>

  {% endblock contenido %}
