{% extends "plantillas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}



    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4"> Registro de Usuario</h2>
                <form class="mb-3 custom-form " action="" method="post">
                    {% csrf_token %}
                    {{form | crispy}}
                    
                 
                    
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Registrarse" class='btn btn-success text-light btn-lg'>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
    <!--<script src="js/validarnom.js"></script>


    <script>
        $(document).ready(function () {
            $('#showPassword1').on('click', function () {
                var passwordField = $('#password1');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).text('Ocultar');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).text('Mostrar');
                }
            });

            $('#showPassword2').on('click', function () {
                var passwordField = $('#password2');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).text('Ocultar');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).text('Mostrar');
                }
            });
        });
    </script>
    <script>
        // Definir las opciones de comunas según la región seleccionada
        document.getElementById('region').addEventListener('change', function () {
            var region = this.value;
            var comunaSelect = document.getElementById('comuna');
            // Limpiar las opciones actuales
            comunaSelect.innerHTML = '<option value="">Seleccione una comuna</option>';
            // Llenar las opciones de comuna según la región seleccionada
            if (region === '1') { // Región de Arica y Parinacota
                comunaSelect.innerHTML += '<option value="1">Arica</option>';
                comunaSelect.innerHTML += '<option value="2">Camarones</option>';
                // Agrega más opciones según las comunas de la región
            } else if (region === '2') { // Región de Tarapacá
                comunaSelect.innerHTML += '<option value="3">Iquique</option>';
                comunaSelect.innerHTML += '<option value="4">Alto Hospicio</option>';
                // Agrega más opciones según las comunas de la región
            } else if (region === '3') { // Región de Antofagasta
                comunaSelect.innerHTML += '<option value="5">Antofagasta</option>';
                comunaSelect.innerHTML += '<option value="6">Mejillones</option>';
                // Agrega más opciones según las comunas de la región
            }
            // Agrega más bloques "else if" según las regiones que desees manejar
        });
    </script>-->
{% endblock contenido %}